* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e6e7ee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2a354f;
}

a {
  text-decoration: none;
  color: #2a354f;
}

li {
  list-style: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}

img {
  display: inline-block;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.cta {
  text-transform: uppercase;
  padding: 0.5rem 2.5rem;
  box-shadow: 3px 2px 5px 2px #c4c4c4, -3px -4px 5px 2px #fafafa;
  border-radius: 0.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  cursor: pointer;
}

.cta:hover {
  box-shadow: inset 2px 2px 2px 0px #c4c4c4, inset -2px -2px 2px 0px #fafafa;
}

.cta-main {
  color: #fa5252;
}

.cta-github {
  color: #333;
}

.project-item {
  margin: 2rem 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 2px 2px 5px 0px #c4c4c4, 5px 5px 5px 0 #c4c4c4, -2px -2px 5px 0px #fafafa, -5px -5px 5px 0px #fafafa;
  border-radius: 0.5rem;
}

.project-item__ctas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 326px;
}

.project-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item__description {
  margin: 1.3rem 0;
}

.project-item__graphics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item__preview {
  margin: 0 auto;
  box-shadow: inset 3px 3px 2px 0px #c4c4c4, inset -3px -3px 2px 0px #fafafa;
  padding: 10px;
  background-color: transparent;
  border-radius: 0.5rem;
}

.project-item__preview img {
  z-index: -1;
  border-radius: 0.5rem;
  position: relative;
}

.project-item__stack {
  display: flex;
  align-items: center;
}

.project-item__stack img {
  display: inline-block;
  min-width: 41.37px;
  width: 7%;
  margin: 1rem 5rem 0 0;
  padding: 0.4rem;
  box-shadow: inset 2px 2px 5px 0px #c4c4c4, inset -2px -2px 5px 0px #fafafa;
}

.mobile-nav {
  display: none;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.icons {
  display: flex;
  align-items: center;
}

.icons .icon__link {
  margin: 0 1rem;
  padding: 0.2rem 0.8rem;
  box-shadow: 3px 2px 5px 2px #c4c4c4, -3px -2px 5px 0px #fafafa;
  font-size: 1.3rem;
  border-radius: 0.1rem;
}

.icons .icon__link:hover {
  box-shadow: inset 2px 2px 2px 0px #c4c4c4, inset -2px -2px 2px 0px #fafafa;
}

.icons .icon__link.icon__link-twitter {
  color: #00acee;
}

.icons .icon__link.icon__link-github {
  color: #333;
}

.hero {
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}

.hero h1 {
  font-size: 3.2rem;
}

.hero p {
  margin: 2rem 0;
}

.main-nav {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.main-nav .logo {
  max-width: max-content;
}

.main-nav .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.main-nav .nav-items {
  display: flex;
  margin-left: auto;
}

.main-nav .nav-items .nav-item {
  margin: 0 1.2rem;
}

.main-nav .nav-items .nav-item .nav-link {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.main-nav .nav-items .nav-item .nav-link:hover {
  border-bottom: 1px solid black;
}

.projects-cta {
  display: grid;
  margin: 1rem 0;
}

.projects-cta .cta {
  margin-left: auto;
}

.contact-form {
  margin-top: 4rem;
}

.contact-form__header {
  text-align: center;
  text-transform: capitalize;
}

.contact-form__header h3 {
  margin: 1rem 0;
}

.contact-form__details {
  display: flex;
  justify-content: space-between;
}

.contact-form__groups {
  flex-grow: 1;
}

.contact-form__group {
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
  width: 70%;
}

.contact-form__group label {
  text-transform: uppercase;
  margin: 0.4rem 0;
}

.contact-form__group input {
  padding: 0.8rem 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #e6e7ee;
  box-shadow: inset 4px 4px 4px 0px #c4c4c4, inset -3px -3px 6px 0px #fafafa;
}

.contact-form__group input:focus {
  outline: none;
}

.contact-form__group textarea {
  resize: none;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: #e6e7ee;
  box-shadow: inset 4px 4px 4px 0px #c4c4c4, inset -3px -3px 6px 0px #fafafa;
}

.contact-form__group textarea:focus {
  outline: none;
}

footer {
  margin: 2rem 0 1rem 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main-nav {
    display: none;
  }
  .container .top-nav {
    width: 100%;
  }
  .top-nav {
    width: 90%;
    margin: 0 auto;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    align-items: flex-end;
    padding-right: 1rem;
  }
  .mobile-nav__items {
    margin-bottom: 4rem;
  }
  .mobile-nav__item {
    margin: 3rem 0;
  }
  .mobile-nav__close {
    font-size: 2rem;
    padding: 0.4rem;
  }
  .mobile-nav__toggle {
    font-size: 2rem;
  }
  .project-item {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-form__details {
    flex-direction: column;
  }
  .contact-form__details .icons {
    justify-content: center;
  }
  .contact-form__groups {
    margin-bottom: 1rem;
  }
  .contact-form__group {
    width: 100%;
  }
  .contact-form__submit .cta {
    width: 100%;
    margin: 2rem 0;
  }
}
/*# sourceMappingURL=App.css.map */