@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poiret+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e6e7ee;
  font-family: "Open Sans", sans-serif;
  color: #2a354f;
}

a {
  text-decoration: none;
  color: #2a354f;
}

li {
  list-style: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}

img {
  display: inline-block;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.cta {
  text-transform: uppercase;
  padding: 1rem 3.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid transparent;
  cursor: pointer;
  color: #e6e7ee;
  display: flex;
  align-items: center;
}

.cta:hover {
  background-color: transparent;
}

.cta-main {
  background-color: #b93cf6;
}

.cta-main:hover {
  border: 2px solid #b93cf6;
  color: #b93cf6;
}

.cta-github {
  background-color: #333;
}

.cta-github:hover {
  border: 2px solid #333;
  color: #333;
}

.project-item {
  margin: 2rem 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0px 2px 3px 1px #c4c4c4;
  border-radius: 0.5rem;
}

.project-item__title {
  font-family: "Poiret One", cursive;
  letter-spacing: 0.3rem;
}

.project-item__ctas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.project-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item__description {
  margin: 1.3rem 0;
}

.project-item__graphics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item__preview {
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  border-radius: 0.5rem;
}

.project-item__preview img {
  z-index: -1;
  border-radius: 0.5rem;
  position: relative;
}

.project-item__stack {
  display: flex;
  align-items: center;
}

.project-item__stack img {
  display: inline-block;
  min-width: 41.37px;
  width: 7%;
  margin: 1rem 5rem 0 0;
  padding: 0.4rem;
}

.mobile-nav {
  display: none;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.icons {
  display: flex;
  align-items: center;
}

.icons .icon:hover {
  transform: rotateY(360deg);
  transition: all 1.4s;
}

.icons .icon__link {
  margin: 0 1rem;
  padding: 0.2rem 0.8rem;
  font-size: 1.3rem;
  border-radius: 0.1rem;
  border: 2px solid #c4c4c4;
}

.icons .icon__link.icon__link-twitter {
  color: #00acee;
}

.icons .icon__link.icon__link-github {
  color: #333;
}

.hero {
  height: 88vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}

.hero-info h1 {
  font-size: 3.2rem;
  letter-spacing: 0.4rem;
  font-family: "Poiret One", cursive;
}

.hero-info p {
  margin: 2rem 0;
}

.main-nav {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: #e6e7ee;
  box-shadow: 0px 15px 18px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.main-nav .logo {
  max-width: max-content;
}

.main-nav .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.main-nav .nav-items {
  display: flex;
  margin-left: auto;
}

.main-nav .nav-items .nav-item {
  margin: 0 1.2rem;
}

.main-nav .nav-items .nav-item .nav-link {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.main-nav .nav-items .nav-item .nav-link:hover {
  border-bottom: 1px solid black;
}

.projects-cta {
  display: grid;
  margin: 1rem 0;
}

.projects-cta .cta {
  margin-left: auto;
}

.projects-cta .cta ion-icon {
  margin-left: 5px;
  margin-top: 3px;
}

.contact-form {
  margin-top: 4rem;
}

.contact-form__header {
  font-family: "Poiret One", cursive;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: capitalize;
}

.contact-form__header h3 {
  margin: 1rem 0;
  font-size: 2.1rem;
}

.contact-form__details {
  display: flex;
  justify-content: space-between;
}

.contact-form__groups {
  flex-grow: 1;
}

.contact-form__group {
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
  width: 70%;
}

.contact-form__group label {
  text-transform: uppercase;
  margin: 0.8rem 0;
  font-family: "Poiret One", cursive;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.contact-form__group input {
  padding: 0.8rem 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #c4c4c4;
  background-color: #e6e7ee;
}

.contact-form__group input:focus {
  outline: none;
}

.contact-form__group textarea {
  resize: none;
  font-size: 1.2rem;
  border: 1px solid #c4c4c4;
  padding: 0.5rem;
  background-color: #e6e7ee;
}

.contact-form__group textarea:focus {
  outline: none;
}

footer {
  margin: 2rem 0 1rem 0;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .main-nav {
    display: none;
  }
  .container .top-nav {
    width: 100%;
  }
  .top-nav {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 5%;
    background-color: #e6e7ee;
    box-shadow: 0px 15px 18px 0px rgba(0, 0, 0, 0.3);
    z-index: 4;
    margin-bottom: 1rem;
  }
  .mobile-nav {
    z-index: 3;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    align-items: flex-end;
    padding-right: 1rem;
    font-family: "Poiret One", cursive;
    font-weight: 600;
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
  }
  .mobile-nav__items {
    margin-bottom: 4rem;
  }
  .mobile-nav__item {
    text-align: left;
    margin: 3rem 0;
  }
  .mobile-nav__close {
    font-size: 2rem;
    padding: 0.4rem;
  }
  .mobile-nav__toggle {
    font-size: 2rem;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .project-item {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-form__details {
    flex-direction: column;
  }
  .contact-form__details .icons {
    justify-content: center;
  }
  .contact-form__groups {
    margin-bottom: 1rem;
  }
  .contact-form__group {
    width: 100%;
  }
  .contact-form__submit {
    margin: 2rem 0;
  }
  .contact-form__submit .cta {
    width: 100%;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .hero,
  .portfolio,
  .contact {
    margin-top: 5rem;
  }
  .cta {
    padding: 1rem 2rem;
  }
}
/*# sourceMappingURL=App.css.map */