$dark-color: #333;
$primary-color: #8860d0;
$light-color: #f2f1ef;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

li {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*Utilities*/

// Buttons
.btn {
  border: solid 1px $primary-color;
  background-color: $light-color;
  color: $primary-color;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background-color: darken($color: $primary-color, $amount: 10);
    color: $light-color;
    transition: all 0.4s ease-in;
  }
  ion-icon {
    margin-left: 0.8rem;
  }
}

// Project-Item
.project-item {
  // border: 1px solid black;
  padding: 1rem;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.7rem;

  &__info {
    margin: 1rem 0;
    p {
      margin-top: 0.5rem;
    }
  }
  &__ctas {
    // border: solid red;
    display: flex;
    justify-content: space-between;
    // margin: 1rem 0;
  }
}
