$light-shadow: #fafafa;
$dark-shadow: #c4c4c4;
$light-color: #e6e7ee;
$dark-color: #44476a;
$primary-color: #0444bf;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

li {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

.container {
  width: 90%;
  // max-width: 1200px;
  margin: 0 auto;
  // padding: 0.5rem 1rem;
}

.cta {
  // border: 1px solid black;
  text-transform: uppercase;
  padding: 0.5rem 2.5rem;
  box-shadow: 3px 2px 5px 2px $dark-shadow, -3px -4px 5px 2px $light-shadow;
  border-radius: 0.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  cursor: pointer;
  // ion-icon {
  //   align-self: center;
  //   margin: auto;
  // }
  &:hover {
    box-shadow: inset 2px 2px 2px 0px $dark-shadow,
      inset -2px -2px 2px 0px $light-shadow;
  }
  &-main {
    color: $primary-color;
  }
}

.project-item {
  // border: solid red;
  margin: 2rem 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 2px 2px 5px 0px $dark-shadow, 5px 5px 5px 0 $dark-shadow,
    -2px -2px 5px 0px $light-shadow, -5px -5px 5px 0px $light-shadow;
  border-radius: 0.5rem;
  &__ctas {
    // border: solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
  }
  &__info {
    // border: solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__description {
    // border: solid yellow;
    margin: 1.3rem 0;
  }
  &__graphics {
    // border: 3px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__preview {
    // width: 75%;
    margin: 0 auto;
    // border: solid blue;
    box-shadow: inset 3px 3px 2px 0px $dark-shadow,
      inset -3px -3px 2px 0px $light-shadow;
    padding: 10px;
    background-color: transparent;
    border-radius: 0.5rem;
    img {
      // border: 1px green solid;
      z-index: -1;
      border-radius: 0.5rem;
      position: relative;
    }
  }
  &__stack {
    // border: 1px solid purple;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // grid-template-columns: repeat(5, 1fr);
    img {
      // border: solid yellow;
      display: inline-block;
      width: 7%;
      margin: 1rem 5rem 0 0;
      padding: 0.4rem;
      box-shadow: inset 2px 2px 5px 0px $dark-shadow,
        inset -2px -2px 5px 0px $light-shadow;
    }
  }
}
