@media screen and (max-width: 768px) {
  .mobile-nav {
    // border: solid red;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #fff;
    z-index: 4;
    margin: 0;
    padding: 1.3rem;
    .toggler {
      font-size: 2rem;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0.5rem;
      border: none;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    }
    &__items {
      // border: solid blue;
      width: 100%;
    }
    &__item {
      // border: solid purple;
      margin: 1.5rem 0;
      text-align: end;
      padding: 0.4rem;
    }
  }

  .btn {
    padding: 0.5rem 2rem;
    font-size: 0.7rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
    &-mssg {
      font-size: 1.5rem;
      margin: auto;
      width: 100%;
      text-align: center;
      order: 1;
      p:first-of-type {
        margin: 2rem auto auto auto;
      }
    }
    &-profile {
      order: 0;
    }
    &-cta {
      order: 2;
      margin-top: 1rem;
      .btn {
        width: 61%;
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .contact-form {
    textarea {
      max-width: 100%;
    }
  }
}
