@media screen and (max-width: 768px) {
  .btn {
    padding: 0.5rem 2rem;
    font-size: 0.7rem;
  }
  .hero {
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(2, 1fr);
    // border: red solid;
    display: flex;
    flex-direction: column;
    &-mssg {
      font-size: 1.5rem;
      margin: auto;
      width: 100%;
      text-align: center;
      order: 1;
      p:first-of-type {
        margin: 2rem auto auto auto;
      }
    }
    &-profile {
      order: 0;
    }
    &-cta {
      order: 2;
      margin-top: 1rem;
      .btn {
        width: 61%;
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .contact-form {
    textarea {
      max-width: 100%;
    }
  }
}
