@import "./config";

// Top Nav
.top-nav {
  // border: solid 1px black;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

// Icon bar
.icons {
  display: flex;
  align-items: center;
}

.icon-link {
  margin: 0 1rem;
  padding: 0.2rem 0.8rem;
  box-shadow: 3px 2px 5px 2px $dark-shadow, -3px -2px 5px 0px $light-shadow;
  font-size: 1.3rem;
  border-radius: 0.1rem;
  &:hover {
    box-shadow: inset 2px 2px 2px 0px $dark-shadow,
      inset -2px -2px 2px 0px $light-shadow;
  }
}

// Hero
.hero {
  // border: solid red;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  h1 {
    font-size: 3.2rem;
  }
  p {
    margin: 2rem 0;
  }
}

// Navbar
.main-nav {
  // border: solid black 1px;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
  .logo {
    // border: solid green;
    max-width: max-content;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // justify-content: space-between;
    align-items: center;
    // border: solid purple 1px;
  }
  .nav-items {
    display: flex;
    // border: 1px solid red;
    margin-left: auto;
    .nav-item {
      // border: 1px solid yellow;
      margin: 0 1.2rem;
      .nav-link {
        padding: 0.5rem;
        font-size: 1.2rem;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

// Featured Projects
.projects-cta {
  display: grid;
  margin: 1rem 0;
  .cta {
    margin-left: auto;
  }
}

// Contact Form
.contact-form {
  margin-top: 4rem;
  &__header {
    text-align: center;
    text-transform: capitalize;
    h3 {
      margin: 1rem 0;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }
  &__groups {
    flex-grow: 1;
  }
  &__group {
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    width: 70%;
    label {
      text-transform: uppercase;
      margin: 0.4rem 0;
    }
    input {
      padding: 0.8rem 0.5rem;
      font-size: 1.2rem;
      border: none;
      border-radius: 0.2rem;
      background-color: $light-color;
      box-shadow: inset 4px 4px 4px 0px $dark-shadow,
        inset -3px -3px 6px 0px $light-shadow;
      &:focus {
        outline: none;
      }
    }
    textarea {
      resize: none;
      font-size: 1.2rem;
      border: none;
      border-radius: 0.2rem;
      padding: 0.5rem;
      background-color: $light-color;
      box-shadow: inset 4px 4px 4px 0px $dark-shadow,
        inset -3px -3px 6px 0px $light-shadow;
      &:focus {
        outline: none;
      }
    }
  }
}

// Footer
footer {
  margin: 2rem 0 1rem 0;
  text-align: center;
}
